<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abidingtech.www.androidbactch11">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBactch11">
        <activity
            android:name=".Lecture18.RegisterActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".Lecture18.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Lecutre17.FirebaseDatabaseActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Lecture15.SqliteDatabaseActivity"
            android:exported="true" />
        <activity
            android:name=".Lecture14.OptionMenuActivity"
            android:exported="true" />
        <activity
            android:name=".Lecture13.SimpleSpinnerActivity"
            android:exported="true" />
        <activity
            android:name=".Lecture12.RecyclerActivity"
            android:exported="true" />
        <activity
            android:name=".Lecture11.CustomListActivity"
            android:exported="true" />
        <activity
            android:name=".Lecture11.CustomAlertActivity"
            android:exported="true" />
        <activity
            android:name=".Lecture9.StudentDettailActivity"
            android:exported="false" />
        <activity
            android:name=".Lecture9.ListActivity"
            android:exported="true" />
        <activity
            android:name=".Lecture9.AlertActivity"
            android:exported="true" />
        <activity
            android:name=".Lecture8.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Lecture8.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Lecture7.LifeCycleActivity"
            android:exported="true" />
        <activity
            android:name=".Lecture6.LinearLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".Lecture5.EditTextActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="DATABASE"
            android:value="sugar_example.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.abidingtech.www.androidbactch11.Lecture15" />
    </application>

</manifest>